{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Изменить резюме
{% endblock %}


{% block content %}
<div class="container color-white p-5">
    <div>
        <div class="mb-5 pt-4">
            <span class="txt-blue font-size-32">Изменение резюме</span>
        </div>
        <div class="pt-3">
            <form action="{% url 'profile-edit-resume' resume.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row align-items-center mt-4">
                    <div class="txt-blue font-size-20 col-2 mt-3">
                        {{ form.specializations.label_tag }}
                    </div>
                    <div class="col-7 custom-input">
                        {{ form.specializations }}
                    </div>
                </div>

                <div class="row align-items-center mt-4">
                    <div class="txt-blue font-size-20 col-2 mt-3">
                        {{ form.salary.label_tag }}
                    </div>
                    <div class="col-7 custom-input">
                        {{ form.salary }}
                    </div>
                </div>

                <div class="row align-items-center mt-4">
                    <div class="txt-blue font-size-20 col-2 mt-3">
                        {{ form.type_employment.label_tag }}
                    </div>
                    <div class="col-7 custom-input">
                        {{ form.type_employment }}
                    </div>
                </div>

                <div class="row align-items-center mt-4">
                    <div class="txt-blue font-size-20 col-2 mt-3">
                        {{ form.work_schedule.label_tag }}
                    </div>
                    <div class="col-7 custom-input">
                        {{ form.work_schedule }}
                    </div>
                </div>

                <div class="row align-items-center mt-4">
                    <div class="txt-blue font-size-20 col-2 mt-3">
                        {{ form.work_experience.label_tag }}
                    </div>
                    <div class="col-7 custom-input">
                        {{ form.work_experience }}
                    </div>
                </div>

                <div class="row align-items-center mt-4">
                    <div class="txt-blue font-size-20 col-2 mt-3">
                        {{ form.education.label_tag }}
                    </div>
                    <div class="col-7 custom-input">
                        {{ form.education }}
                    </div>
                </div>

                <div class="row align-items-center mt-4">
                    <div class="txt-blue font-size-20 col-2 mt-3">
                        Подробное резюме
                    </div>
                    <div class="col-7 custom-input">
                        {% if resume.file %}
                        <div class="d-flex align-items-center mb-3">
                            <input type="checkbox" name="file-clear" id="file-clear_id" class="custom-checkbox">
                            <label for="file-clear_id" class="txt-blue">Убрать</label>
                        </div>
                        {% endif %}
                        <input type="file" name="file" id="id_file" accept=".pdf">
                    </div>
                </div>


                <div class="row align-items-center mt-5 ps-3">
                    <input type="submit" class="button col-2" value="Изменить">
                </div>

            </form>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

{% endblock %}