{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Резюме
{% endblock %}


{% block content %}

</div>

    <section class="section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 order-lg-3 mb-5">
            <img src="{% static 'main/img/jpg/slider-1.jpg' %}" alt="Image placeholder" class="img-fluid">
          </div>
          <div class="col-md-1 order-lg-2"></div>
          <div class="col-md-5 order-lg-1">
            <h2 class="text-uppercase heading mb-4">История компании</h2>
            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>

            <ul class="list-unstyled check">
              <li>Soluta sit quam minima</li>
              <li>Consectetur adipisicing elit</li>
              <li>Commodi unde impedit</li>
            </ul>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6 order-lg-1 mb-5">
            <img src="{% static 'main/img/jpg/slider-2.jpg' %}" alt="Image placeholder" class="img-fluid">
          </div>
          <div class="col-md-1 order-lg-2"></div>
          <div class="col-md-5 order-lg-3">
            <h2 class="text-uppercase heading mb-4">18 лет в индустрии</h2>
            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>

            <ul class="list-unstyled check">
              <li>Soluta sit quam minima</li>
              <li>Consectetur adipisicing elit</li>
              <li>Commodi unde impedit</li>
            </ul>
          </div>

        </div>
      </div>
    </section>

{% endblock %}